@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli:500|Quicksand|Raleway:400,600&display=swap');

h1 {
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font font-weight: 300;
  color: #1F3B4F;
}

p {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: #1F3B4F;
}

li {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: #1F3B4F;
}

#profitepicture{
  max-width:50%;
  height:auto;
  border-radius: 50%;
}
