@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli:500|Quicksand|Raleway:400,600&display=swap');

.header h1 {
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font font-weight: 900;
  color: rgb(240,240,240);
  text-align:center;
}

.header p {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: rgb(240,240,240);
  text-align:center;

}

.container {
  background-color: #1F3B4F;
  background-size: cover;

}

.header {
  text-align:center;
  border-color:
  border: 10px;
  width: 1000px;
  padding: 40px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  margin: 0 auto;
}

.photo {
  background-image: url("images/AL00014_10.png");
  width: 1000px;
  padding: 80px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  box-sizing: content-box;
  background-position: center;
  background-size: cover;
  margin: 20px 20px 0px 100px;
}
.photo h1 {
  text-align: left;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font font-weight: 900;
  color: rgb(250,250,250);
}

.photo p {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: rgb(250,250,250);
}

.cinema {
  background-image: url("images/JulesEtJim.png");
  width: 1000px;
  padding: 80px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  box-sizing: content-box;
  background-position: top;
  background-size: cover;
  margin: 20px 20px 0px 100px;
}

.cinema h1 {
  text-align: left;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font font-weight: 900;
  color: rgb(250,250,250);
}

.cinema p {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: rgb(250,250,250);
}

.travel {
  background-image: url("images/Chili.png");
  width: 1000px;
  padding: 80px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0,0,0,80);
  box-sizing: content-box;
  background-position: left;
  background-size: cover;
  margin: 20px 20px 0px 100px;

}

.travel h1 {
  text-align: left;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font font-weight: 1100;
  color: rgb(250,250,250);
}

.travel p {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: rgb(250,250,250);
}

.list-inline{
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;

}
.list-inline li{
  display: inline-block;
  margin: 0 auto;
}

.button {
   padding : 40 ;
   margin: 0 auto;
   text-align:center;
}

.button a {
  color: white;
  text-decoration: none;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.button :hover{
  background-color: #FCBFB7;
  }


/*.linear-gradient{
  width: 1000px;
  background: linear-gradient(to right grey, white)
}
*/


